<%= javascript_include_tag 'dhtmlxgantt.js', plugin: :ticket_gantt %>
<%= stylesheet_link_tag 'dhtmlxgantt.css', plugin: :ticket_gantt %>
<%= javascript_include_tag 'ticket_gantt_helper.js', plugin: :ticket_gantt %>
<%= javascript_include_tag 'gantt_helper.js', plugin: :ticket_gantt %>
<button id="openAllBtn" style="cursor: pointer;">Open All</button>
<button id="closeAllBtn" style="cursor: pointer;">Close All</button>
<input type="number" id="monthRange" min="1" max="12" style="width: 48px; text-align: center;">
months from
<input type="month" id="month" style="text-align: center; cursor: pointer;">
<div class="resizer"></div>
<div id="gantt_here" class="content" style="width:100%; height: 700px;"></div>
<style>
  .resizer {
      width: 1px;
      height: 1px;
      left: 600px;
      z-index: 2000;
      position: absolute;
      background-color: #eee;
      border: 1px solid #eee;
      cursor: ew-resize;
  }
</style>
<script>
  var projectId = "<%= @project.id %>";
  var org_grid_width = 0;
  document.addEventListener('DOMContentLoaded', function() {
    const ganttHelper = new GanttHelper(projectId, "gantt_here", ".gantt_layout_content", ".resizer", "month", "monthRange", "openAllBtn", "closeAllBtn");
    ganttHelper.setup();
  });
</script>
