<%= javascript_include_tag 'dhtmlxgantt.js', plugin: :ticket_gantt %>
<%= stylesheet_link_tag 'dhtmlxgantt.css', plugin: :ticket_gantt %>
<%= javascript_include_tag 'ticket_gantt_helper.js', plugin: :ticket_gantt %>
<%= javascript_include_tag 'gantt_helper.js', plugin: :ticket_gantt %>
<div style="display: flex; flex-wrap: wrap; align-items: center;">
  <button id="openAllBtn" style="cursor: pointer;">Open All</button>
  <button id="closeAllBtn" style="cursor: pointer;">Close All</button>
  <input type="number" id="monthRange" min="1" max="12" style="width: 48px; text-align: center;">
  months from
  <input type="month" id="month" style="text-align: center; cursor: pointer;">
  status
  <% IssueStatus.all.each do |status| %>
    <div style="margin-right: 10px;">
      <%= check_box_tag 'status_ids[]', status.id, (params[:status_ids] || IssueStatus.where(is_closed: false).pluck(:id)).include?(status.id), id: "status_ids_#{status.id}", class: 'status-checkbox' %>
      <%= label_tag "status_ids_#{status.id}", status.name, class: "status_ids" %>
    </div>
  <% end %>
</div>
<div class="resizer"></div>
<div id="gantt_here" class="content" style="width:100%; height: 700px;"></div>
<style>
  .resizer {
      width: 1px;
      height: 1px;
      left: 600px;
      z-index: 2000;
      position: absolute;
      background-color: #eee;
      border: 1px solid #eee;
      cursor: ew-resize;
  }
  .status-checkbox{
    cursor: pointer;
  }
  .status_ids{
    cursor: pointer;
  }
  .closed-task {
    text-decoration: line-through;
    background: #bbb
  }
  .low-progress {
    background-color: red;  /* 低進捗率の場合 */
  }
  .medium-progress {
    background-color: orange;  /* 中進捗率の場合 */
  }
   */
</style>
<script>
  var projectId = "<%= @project.id %>";
  var org_grid_width = 0;
  document.addEventListener('DOMContentLoaded', function() {
    const ganttHelper = new GanttHelper(projectId, "gantt_here", ".gantt_layout_content", ".resizer", "month", "monthRange", "status-checkbox", "openAllBtn", "closeAllBtn");
    ganttHelper.setUp();
  });
</script>
